<STYLE type="text/css">
td.spacer {padding-bottom: 0px; padding-top: 0px;}
.title { font-family: sans-serif; color: #99AACC;}
.bodyText { font-family: sans-serif; font-size: 9pt; color:#000000;  }
.sub-header { font-family: sans-serif; font-style: normal; font-weight: bold; font-size: 9pt; color: white;}
.log-text {font-family: sans-serif; font-style: normal; font-weight: lighter; font-size: 9pt; color:black;}
.big-header { font-family: sans-serif; font-style: normal; font-weight: bold; font-size: 9pt; color: black;}
.light-row {background:#FFFFFF}
.dark-row {background:#EEEEFF}
.dark-row2 {background:#EEEEEE}
.header {background:#99AADD}
.header2 {background:#7788BB}
.content-header {background:#CCCCCC; }
.content-header2 {background:#AAAAAA; }
#indent {word-wrap : break-word;width :300px;text-indent:10px;}

pre.code { color: #4444CC; }
tt.code { color: #4444CC; }

.title {font-family: sans-serif; font-style: bold; font-weight: bold; font-size: 9pt; color:black;}
.details {font-family: sans-serif; font-style: normal; font-weight: lighter; font-size: 9pt; color:black;}
.datestamp { font-family: sans-serif; color: purple; font-size: 9pt}

a { font-size:8pt; }
.italic { font-style: italic; font-size: 8pt; color:#333333; }
.normal { font-size:8pt; }

/* #dhtmltooltip{
	position: absolute; */
	/*width: 90px;*/
/*	border: 1px solid black;
	padding: 3px;
	background-color: #EEEEFF;
	visibility: hidden;
	z-index: 100;
	font-size: 9pt; 
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
} */

/* $Id$ */

</STYLE>
