/* eclipse header frame css */

.input {background: "#ffffcc";color: "#000000" ;font-weight: normal;}
a.nav:link { text-decoration: none; color: "#000000"; }
a.nav:visited { text-decoration: none; color: "#000000"; }
a.nav:hover { text-decoration: underline; color: "#000000"; }

/* eclipse left nav frame css */

p, table, td, th {  font-family: arial, helvetica, geneva; font-size: 10pt}
pre {  font-family: "Courier New", Courier, mono; font-size: 10pt}
h2 { font-family: arial, helvetica, geneva; font-size: 18pt; font-weight: bold ; line-height: 14px}
code {  font-family: "Courier New", Courier, mono; font-size: 10pt}
sup {  font-family: arial,helvetica,geneva; font-size: 10px}
h3 {  font-family: arial, helvetica, geneva; font-size: 14pt; font-weight: bold}
li {  font-family: arial, helvetica, geneva; font-size: 10pt}
h1 {  font-family: arial, helvetica, geneva; font-size: 28px; font-weight: bold}
/* body {  font-family: arial, helvetica, geneva; font-size: 10pt; clip:   rect(   )} */
.navhead {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #FFFFFF; font-weight: bold; text-decoration: underline}
a.nav:link { text-decoration: none; color: #000000; }
a.nav:visited { text-decoration: none; color: #000000; }
a.nav:hover { text-decoration: underline; color: #000000; }
a.navhead:link { text-decoration: none;}
a.navhead:visited { text-decoration: none;}
a.navhead:hover { text-decoration: underline;}

/* eclipse default_style.css */

p, table, td, th {  font-family: arial, helvetica, geneva; font-size: 10pt}
pre {  font-family: "Courier New", Courier, mono; font-size: 10pt}
h2 { font-family: arial, helvetica, geneva; font-size: 18pt; font-weight: bold ; line-height: 14px}
code {  font-family: "Courier New", Courier, mono; font-size: 10pt}
sup {  font-family: arial,helvetica,geneva; font-size: 10px}
h3 {  font-family: arial, helvetica, geneva; font-size: 14pt; font-weight: bold}
li {  font-family: arial, helvetica, geneva; font-size: 10pt}
h1 {  font-family: arial, helvetica, geneva; font-size: 28px; font-weight: bold}
/* body {  font-family: arial, helvetica, geneva; font-size: 10pt; clip:   rect(   ); margin-top: 5mm; margin-left: 3mm} */
.indextop { font-size: x-large;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold}
.indexsub { font-size: xx-small;; font-family: Arial, Helvetica, sans-serif; color: #8080FF}

	.head_section { background-color: #0080c0; color: #ffffff; font-family: arial, helvetica, geneva; font-size: 10pt; }
	.box	{ background-color: #f0f0f0; color: #000000; font-family: arial, helvetica, geneva; font-size: 8pt; }

/* emf styles */

body { 
	font-family: verdana, arial, helvetica, geneva; font-size: 9pt; clip:   rect(   ); margin-top: 0mm; margin-left: 0mm;
}
.nav { font-size: 9pt; font-family: Arial, Helvetica, sans-serif; }
.normal{font-family:Verdana;font-size:8pt}
p{font-family:Verdana;font-size:8pt}
a.category{text-decoration:none;font-size:8pt;font-family:Verdana,Arial,Helvetica;font-weight:bold}
a:hover.category {text-decoration:underline}
.whatsnew {border-left:solid #8ABDBF 1px; border-right:solid #8ABDBF 1px;border-bottom:solid #8ABDBF 1px;}
a.subcategory{text-decoration:none;font-size:8pt;font-family:Verdana,Arial,Helvetica}
a:hover.subcategory {text-decoration:underline}

tt.code            { color: #4444CC; }
pre.code           { color: #4444CC; }
.highlight         {  background-color: #FFFFCC; }

